{% extends 'base.html' %}
{% load static %}

{% block title %}
	로그인
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
        <div class="login-form">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="submit-button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block js_files %}
	<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}