{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
	<title>피카::{% block title %}{% endblock %}</title>

	{% block css_files %}{% endblock %}
</head>

<body>
	{% block navbar %}
		<nav class="navbar">
            <a href="{% url "home" %}" class="navbar-brand">Pica</a>
	        <div class="navbar-menu">
	            <a href="{% url "introduce" %}" class="navbar-item">프로젝트 소개</a>
		        {% if user.is_authenticated %}
			        <a href="{% url "recorded_videos" %}" class="navbar-item">녹화 영상</a>
			        <a href="{% url "dashboard"%}" class="navbar-item">대시보드</a>
	                <a href="{% url "logout" %}" class="navbar-item">로그아웃</a>
				{% else %}
	                <a href="{% url "login" %}" class="navbar-item">로그인</a>
				{% endif %}
	        </div>
        </nav>
	{% endblock %}
	{% block content %}{% endblock %}
</body>

	{% block js_files %}{% endblock %}
</html>